/*Post*/
body{
    background-color: black;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}
input[type="file"]{
    display: none;
}
label{
    margin-top: 600px;
    margin-left: 30px;
    background-color: rgb(255, 196, 0);
    color: white;
    text-align: center;
    font-weight: 500;
    height:40px;
    width:160px;
    position: absolute;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
label img{
  margin-right: 7px;
}
label:hover{
    cursor: pointer;
}

/*----------------------------------Home Page-------------------------------------*/
/*Loading Screen*/
#page{
    display: none;
}
#loader{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #16191e;
    position: absolute;
}
#loader div{
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}
@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}
/*nav bar*/
header{
    height: 5%;
    display:flex;
    top:0;
    position: fixed;
    background: black;
    width: 100%;
    padding: 7px;
}
header #title{
 width: 25%;
 padding-top: 10px;
 margin-left: 10px;
}
header #insta-btns{
  display: flex;
  float: right;
  padding-left: 40%;
}
header #insta-btns img{
    width: 25px;
    height: 25px;
    margin: 15% 10%;
  }
  header #insta-btns img:hover{
    cursor: pointer;
  }

/*Bottom Navigation Links*/
#bottom-nav{
    display: flex;
    background: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
    padding: 7px 0;
    gap: 5%;
    z-index: 951;
}
footer img{
    cursor: pointer;
    width: 25px;
    height: 25px;
}
footer #profile{
  border-radius: 100%;
}

/*scroll bar*/
.scroll{
    display: flex;
    justify-content: space-between ;
    padding-top: 0px;
    overflow-x: auto;
    color: white;
    height: 140px
}
.scroll{
    width: 320px;
}
.scroll .part{
    text-align: center;
    min-width: 120px;
    margin-left: 2px;
}
.scroll::-webkit-scrollbar:hover{
    cursor: pointer;
}
.scroll::-webkit-scrollbar{
    height:8px;
    width:0;
    border-radius: 5px;
}
#story-container{
    margin-top: 15%;
    display: flex;
    justify-content:space-around;
    color:white;
}
#story-container img{
    width:70px;
    height: 70px;
    padding: 3px;
    background: black;
    border-radius: 100%;
    align-self: center;
    background-size: 90px;
    margin:2px;
}
.orange-border{
    align-content: flex-end;
    align-items: center;
    width:80px;
    height: 80px;
    align-self: center;
    margin: 5px;
    background: linear-gradient(180deg,red,rgb(255, 94, 0),rgb(255, 153, 0));
    border-radius: 100%;
}
#story-container h3{
    text-align: center;
    font-weight: normal;
    margin-top: 2px;
    font-size: 14px;
}
.part{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#story-container #profile{
 margin-right: 5px;
 padding-right: 0;
 margin-top: 7px;
}
#story-container #profile img{
    background:none;
    margin-left: 15px;
    padding-bottom: 5px;
}
#story-container #profile h3{
    margin-left: 8px;
}
#story-container #scroll img{
    padding: 5px;
    margin-right: 0;
    margin-top: 0;
}
#story-container .verify{
    width: 15px;
    background:none;
    height: 15px;
    margin-left: 2px;
    margin-bottom: 14px;
}
#story-container h3{
    align-self: center;
}
#story-container .info{
    margin-left: 7%;
    display:flex;
    justify-content: center;
    align-items: center;
}
/*pfPosts*/
.profile-post{
    display: flex;
    color: white;
    align-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}
.profile-post .pfp{
    width: 40px;
    border-radius: 100%;
    margin: 5px;
}
.post{
    margin-top: 5px;
    width: 100%;
    margin-bottom: 10px;
    z-index: 0;
}
.menu{
    height: 24px;
    margin-left: 65%;
}
.menu:hover{
    cursor: pointer;
}
/*pfPosts interacts*/
.post-buttons{
    display: flex;
    gap: 20px;
    padding-left: 8px;
}
.post-buttons img{
    width: 25px ;
    height: 25px;
}
.save-btn{
    margin-left: 55%
}
.post-buttons img:hover{
    cursor: pointer;
}
#liked-btn{
    animation: liked 0.3s linear ;
    z-index: 10;
}
.unlike{
    display: none;
}
.like{
    display: none;
}

#saved-btn{
    margin-left: 55%;
    animation: saved 0.3s linear ;
    z-index: 10;
}
.unsave{
    display: none;
}
.save{
    display: none;
}
/*Like animation*/
@keyframes liked {
    0%{
        transform:  scale(0.2);
    }
    10%{
        transform:  scale(0.4);
    }
    30%{
        transform:  scale(0.6);
    }
    40%{
        transform:  scale(0.8);
    }
    50%{
        transform:  scale(1.0);
    }
    70%{
        transform:  scale(1.1);
    }
    80%{
        transform:  scale(1.2);
    }
    90%{
        transform:  scale(1.1);
    }
    100%{
        transform:  scale(1.0);
    }
}

/*Save animation*/@keyframes saved {
    0%{
        transform:  scale(0.2);
    }
    10%{
        transform:  scale(0.4);
    }
    30%{
        transform:  scale(0.6);
    }
    40%{
        transform:  scale(0.8);
    }
    50%{
        transform:  scale(1.0);
    }
    70%{
        transform:  scale(1.1);
    }
    80%{
        transform:  scale(1.2);
    }
    90%{
        transform:  scale(1.1);
    }
    100%{
        transform:  scale(1.0);
    }
}
/*Likes information*/
.post-likes{
    display: flex;
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.pfp-like{
    width: 25px;
    border-radius: 100%;
    margin: 10px;
    margin-bottom: 5px;
}
.like-info{
    margin-top: 14px;
}
.like-info strong:hover{
    cursor: pointer;
}
/*Toggle Menu*/
#menuList{
     z-index: 100;
    color: white;
    background: rgb(46, 46, 46);
    overflow:hidden;
    display: absolute;
    position: absolute;
    transition:0.3s  ease-out;
    width: 100%;
    margin-top: -65px;
}
.menu-flex{
    display: flex;
    gap: 27%;
    align-items: center;
}
.menu-flex img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.toggled-flex{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 120px;
    margin-left: 10px;
}
.toggle-save-collection{
    cursor: pointer;
}
.toggle-save-collection a{
    text-decoration: none;
    color: rgb(30, 114, 240);
}

/*Save Collections*/
#save-collections{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  width: 100%;
  background: rgb(46, 46, 46);
  display: fixed;
  position: fixed;
  bottom: 0;
  transition:0.5s ease-in-out;
  left:0;
  text-align: center;
  color: white;
  z-index: 1000;
}
#save-collections h3,h4{
    font-weight: bold;
}
.collections-add{
    display: flex;
    gap: 20px;;
    margin: 20px 15px;
}
.collections-add img{
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
    border-radius: 5%;
}
.collections-add div:hover{
   cursor: pointer;
}
#save-collections h4:hover{
  cursor: pointer;
}
#darker-background{
    z-index: 900;
}
.show-dark{
    background-color: rgba(0, 0, 0, 0.39);
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    display: fixed;
    position: fixed;
}

/*Add To Collection*/
#added-to-collection{
    background: rgba(46, 46, 46, 0.795);
    display: flex;
    justify-content: flex-start;
    gap:2%;
    align-items: center;
}
#added-to-collection .width{
    min-width: 250px;
}
#added-to-collection img{
    padding: 10px;
    width: 40px;
    height: 40px;
}
#collection-last{
    margin-left: 26%;
}
#wrapper-added{
   
    width:100%;
    display: fixed;
    position: fixed;
    transition: 0.7s ease-in-out;
    bottom: 39px;
    left: 0;
    z-index: 950;
}
#wrapper-added a{
    text-decoration: none;
    color: white;
}

/*Comments Show Menu*/
#comment-menu{
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: black;
    display:fixed;
    position: fixed;
    z-index: 1100;
    transition:0.5s ease-in-out;
    text-align: left;
    
}
#comments-nav{
    display: flex;
    align-items: center;
    gap: 15%;
    
}
#comments-nav img{
    width: 15%;
    cursor: pointer;
}
#commants-nav h2{
    font-weight: bold;
}
#last-image-comm{
    cursor: pointer; 
    width: 15%;
}
#nav-flex{
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: space-between;
    gap: 40%;
    margin: 4px 10px;
    width: 120%;
}
/*Post a comment*/
.user-info-wrapper{
    display: flex;
    gap: 2%;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
}
.user-info-wrapper img{
    width: 45px;
    border-radius: 100%;
}
 ul{
   list-style: none;
   margin-left: -30px;
}
.comments {
    display: flex;
    gap: 2%;
    align-items: center;
    margin-bottom: 4%;
}
.comm-pfp{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
.comm-like{
    width: 15px;
    height: 15px;
    margin-left: 2%;
}
.comm-like:hover{
    cursor: pointer;
}
.comment-info{
    display: flex;
    gap:5%;
    font-size: 12px;
    color: rgb(134, 134, 134);
    font-weight: 600;
}
.comment-info .comment-reply{
    cursor: pointer;
}
.comment{
    margin-bottom: 2%;
}
.comment .verify{
    width: 13px;
    margin-left: 2%;
    margin-right: 2%;
}
.comment-wrapper{
    width: 75%;
}
#comment-unlike{
    animation: liked 0.3s linear ;
    z-index: 1110;
}
#comment-unlike2{
    animation: liked 0.3s linear ;
    z-index: 1110;
}
#comment-unlike3{
    animation: liked 0.3s linear ;
    z-index: 1110;
}
#comment-unlike4{
    animation: liked 0.3s linear ;
    z-index: 1110;
}

/*Comment publish*/

#comment-type button{
    color: rgb(48, 171, 253);
    font-size: 16px;
    margin-top: 6%;
    border:none;
    background: none;
    pointer-events: none;
    opacity: 0.7;
}
#comment-type button.active{
    opacity: 1;
    color: rgb(0, 119, 255);
    pointer-events: auto;
    cursor: pointer;
}
#comment-publish:hover{
    cursor: pointer;
    color: rgb(0, 132, 255);
}
#comment-type{
    display: flex;
    background-color: rgb(46, 46, 46);
    width: 100%;
    gap: 3%;
    padding: 4% 2%;
}
#input{
    width: 48%;
    background: rgb(46, 46, 46);
    font-size: 16px;
    color:white;
    border: none;
    box-shadow: none;
    outline: none;
}
#comment-type{
    display: fixed;
    position: fixed;
    bottom: 0;
}
::-webkit-input-placeholder{
    color: rgb(134, 134, 134);
}
textarea{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

/*Post Description*/
#post-description{
    color: white;
    padding:0 10px;
    font-size: 14px;
    margin-bottom: 10px;
}
.hashtag{
    color: rgb(0, 140, 255);
}
#description-more{
    color: rgb(134, 134, 134);
    font-weight: bold;
    cursor: pointer;
}
.marvel-description{
    align-items: flex-start;
}
.description{
    margin-bottom: 20px;
}
#time-from-posting{
    font-size: 10px;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 50px;
    color: rgb(134, 134, 134);
}

/*Messages*/
#messages-menu{
    z-index: 3500;
    right: 0;
    top:0;
    position: fixed;
    background: black;
    color: white;
   transition:0.3s ease-in-out;
}

/*Messages Header*/
#messages-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 8px 15px;
}
#messages-header img{
    width:30px;
    cursor: pointer;
}
#exit-and-name{
    display: flex;
    gap: 22%;
    align-items: center;
}
#exit-and-name h3{
   font-size: 22px;
}
#videochat-and-group{
    display: flex;
    gap: 25%;
    align-items: center;
    margin-right: 15px;
}

/*Messages search*/
#search-msg-wrapper{
    display: flex;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
#search-type-msg{
    display: flex;
    background-color:rgb(46, 46, 46);
    border-radius: 20px;
    align-items: center;
    margin: 15px 20px;
    width: 85%;
    padding: 1px 10px;
    gap: 4%;
}
#search-type-msg img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#search-type-msg textarea{
    background:none;
    margin-top: 4%;
}

/*Messages Nav*/
#messages-navigation{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: rgb(134, 134, 134);
    border-bottom: 1px solid rgb(134, 134, 134);
    text-align: center;
}
#messages-navigation div{
    cursor: pointer;
    width: 33%;
   padding-bottom: 17px;
} 
.current-messages-nav{
    border-bottom: 2px solid white;
    color: white;
}

/*Messages Webs*/
#cobweb1{
 width: 50%;
 right: -5%;
 top: -3%;
 display: fixed;
 position: absolute;
 z-index: 3600;
}
#cobweb2{
 width: 90%;
 bottom: 0;
 right: 0;
 display: fixed;
 position: absolute;
 z-index: 3600;
}

#no-friends-message{
    margin-top: 60%;
    margin-bottom: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 1%;
    color: rgb(179, 178, 178);
}
#no-friends-message img{
    width: 70px;
}
#no-friends-message h3{
  min-width: 210px;
  margin-left: 50%;
}

/*Options Post*/
#options-toggle{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    background: rgb(46, 46, 46);
    display: fixed;
    position: fixed;
    bottom: 0;
    transition:0.5s  ease-in-out;
    left:0;
    color: white;
    z-index: 1000;
}
#option-buttons{
    margin: 15px 2px;
    display: flex;
    justify-content: space-around;
}
#options-close{
    float: center;
    height: 7px;
    cursor: pointer;
}
#option-buttons img{
    height: 23px;
    padding: 15px;
    margin: auto;
}
#options-toggle h4{
 font-weight: 600;
 padding-left: 15px;
 cursor: pointer;
}
#close-wrapper{
    text-align: center;
}
.option-button{
    width: 100px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.option-button:hover{
    transform: scale(0.9);
    transition:0.2s ease-in-out;
}

.option-red .option-wrapper{
    border-color: rgb(255, 0, 85);
}
.option-red{
    color: rgb(255, 56, 56);
}
.option-wrapper{
    cursor: pointer;
    max-width: 55px;
    max-height: 55px;
    border: 1px solid white;
    border-radius: 100%;
}
#darker-background2{
    z-index: 900;
}

/*Saved Link*/
#saved-link-wrapper{
    z-index: 10000;
    position: fixed;
    text-align: center;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
}
#saved-link{
    padding: 15px;
    text-align: center;
     background: rgb(46, 46, 46);
     align-self: center;
     color: white;
     min-width: 200px;
     border-radius: 15px;
     animation: fadeIn 0.3s linear;
}
#wrap-saved{
    display: flex;
    justify-content: center;
}

.fade-out{
    animation: fadeOut 0.2s linear;
}
.dont-show{
    display: none;
}

/*Fade Effect*/
@keyframes fadeOut{
    from { opacity: 1;}
    to {opacity: 0;}
}
@keyframes fadeIn{
    from { opacity: 0;}
    to {opacity: 1;}
}

/*Report Menu*/
#reportMenu{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: rgb(46, 46, 46);
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1100;
    transition:0.5s  ease-in-out;
}
#report-options-wrapper::-webkit-scrollbar{
    height: 0;
    width: 0;
}
#reportMenu h4{
    margin: 0;
    padding: 13px 15px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}
#report-menu-main-h3{
    text-align: center;
}
#reportMenu h5{
    margin: auto 15px;
    color: rgb(179, 178, 178);
}
#top-h3{
   font-size: 16px;
   text-align: left;
   padding-left: 15px;
}
#reportMenu h4:hover{
    cursor: pointer;
    background-color:rgb(90, 90, 90);
}
#reportMenu #topped{
    margin-top: 10px;
}
#report-options-wrapper{
    overflow: scroll;
}

/*Reported post message window*/
#reported-post-window{
    background: rgb(46, 46, 46);
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
#reported-post-window h5{
color: white;
}
#reported-post-window img{
    margin-top:30px;
    width: 43px;
    height: 43px;
}
.remove{
    display: none;
}
#reported-post-window .darker-text-h4{
    color: rgb(179, 178, 178);
}
#close-report-message{
    margin-top: 35px;
 color: rgb(0, 140, 255);
 cursor: pointer;
}
#reported-contents-wrapper{
    width: 75%;
}
#reported-contents-wrapper h4{
    font-weight: 500;
}

/*----------------------------------Search Page-------------------------------------*/
/*header search*/
#search-wrapper{
    display: flex;
    justify-content: center;
}
#search-type{
    display: flex;
    background-color:rgb(46, 46, 46);
    border-radius: 20px;
    align-items: center;
    margin: 15px 20px;
    width: 85%;
    padding: 1px 10px;
    gap: 4%;
}
#search-type img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#search-type textarea{
    background:none;
    margin-top: 4%;
}


/*----------------------------------Reels Page-------------------------------------*/



/*----------------------------------Shop Page-------------------------------------*/



/*----------------------------------Profile Page-------------------------------------*/




/*-----------Different Screens--------------*/
@media only screen and (max-width:700px){
    .scroll{
        width: 300px;
    }
}
@media only screen and (min-width:700px){
    /*Posted Image*/
  .post{
      width: 600px;
      align-self: center;
  }

  /*All*/
  body{
     text-align: center;
  }

  /*Menu Messages*/
  #messages-menu{
      max-width: 60%;
  }

  /*Report Menu*/
  #reportMenu{
      width: 60%;
      text-align: left;
  }

  /*Header*/
header{
    align-items: center;
    justify-content: center;
    height: 80px;
    width:100%;
    padding-left: 100px;
    padding-right: 100px;
    background: black;
}
header #title{
    width: 190px;
    height:60px;
   }
header #insta-btns{
  padding-left: 45%;
}
header #insta-btns img{
    width: 35px;
    height: 35px;
    margin: 5% 5%;
  }

  /*Scroll*/
#story-container{
    margin-top: 10%;
}

/*Post Description*/
#post-description{
    width: 600px;
    text-align: left;
}

/*Bottom navigation*/
#bottom-nav{
    width: 610px;
    height: 42px
}
footer{
    display: flex;
    justify-content: center;
}

/*body main post*/
#main-body-wrapper{
    display: flex;
    justify-content: center;
}

/*header top*/
#header-wrapper{
    display: flex;
    justify-content: center;
}

/*Collections Added*/
#wrapper-added{
    display: flex;
    justify-content: center;
}
#added-to-collection{
    width: 600px;
}
#added-to-collection img{
    padding: 15px;
    width: 33px;
    height: 33px;
}

/*Comment information*/
#posting-time-wrapper{
    display: flex;
    justify-content: center;
}
#time-from-posting{
    text-align: left;
    width: 600px;
    margin-bottom: 70px;
    font-size: 13px;
}

/*Profiles Width*/
#profiles-wrapper{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
#edit-profiles{
    width: 600px;
}

/*Profile posted width*/
#prf-post-wrapper{
    display: flex;
    justify-content: center;
}
#profile-post{
    width: 600px;
}
.menu{
    margin-left: 480px;
}

/*Save button*/
.save-btn{
  margin-left: 440px
}
#saved-btn{
    margin: 0;
    margin-left: 440px
}

/*Toggle menu*/
#toggle-menu-wrapper{
    display: flex;
    justify-content: center;
}
#menuList{
    width: 600px;
}
.toggle-save-collection{
    margin-left: 170px;
}

/*Comment Menu*/
#comment-menu{
    max-width: 60%;
}
#input{
    width: 300px;
}
#comment-type{
    height: 40px;
    align-items: center;
}
}
@media only screen and (min-width:700px){
    .scroll{
        width: 380px;
    }
    #input{
        width: 202px;
    }
}

@media only screen and (min-width:740px){
    .scroll{
        width: 380px;
    }
    #input{
        width: 220px;
    }
}

@media only screen and (min-width:800px){
     /*Menu Messages*/
    #messages-menu{
        max-width: 50%;
    }
  #input{
      width: 230px;
  }

  /*Report Menu*/
  #reportMenu{
    width: 50%;
}

  /*Scroll*/
#story-container{
    margin-top: 9%;
}
.scroll{
    width: 430px;
}
}
@media only screen and (min-width:1300px){
/*Header*/
header{
    width: 1200px;
}
header #insta-btns{
  padding-left: 72%;
}

     /*Menu Messages*/
    #messages-menu{
        max-width:35%;
    }

     /*Report Menu*/
  #reportMenu{
    width: 35%;
    left: 0;
}

  /*Scroll*/
#story-container{
    margin-top: 7%;
}

/*Post flexed*/
#unflexed-img{
    display: none;
}
#flex-display-post{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

/*New post structure*/
#new-post-structure{
    display: block;
    gap: 20px;
}
#prf-post-wrapper{
    display: flex;
    justify-content: center;
}
#profile-post{
    width: 1200px;
}
.menu{
    margin-left: 1080px;
}
/*footer*/
#bottom-nav{
    width: 1350px;
    height: 42px
}
footer{
    z-index: 10000;
    display: flex;
    justify-content: center;
}

/*Added to collections*/
#added-to-collection{
    width: 1300px;
}
#collection-last{
    margin-left: 900px
}

/*Save Menu*/
#menuList{
    z-index: 1000;
    margin-left: -1220px;
    margin-top: 3px;
}

/*Profiles Width*/
#profiles-wrapper{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
#edit-profiles{
    width: 1200px;
}
#story-container{
    justify-content: space-between;
}
.scroll{
    width: 600px;
}

/*Comments*/
#comment-menu{
    z-index: 10;
    min-width: 600px;
    min-height: 600px;
    max-width: 600px;
    max-height: 600px;
    margin-top: -89px;
    overflow: auto;
    text-align: left;
    position: relative;
    z-index: 100;
}

#darker-background3{
    z-index: 1000;
}

#comments-nav{
    display: none;
}
#post-description{
    display: none;
}
#comment-menu::-webkit-scrollbar{
    width:0;
}
#comment-menu #comment-type{
    position: relative;
    z-index: 10;
}
}
@media only screen and (max-width:1300px){
#flexed-img-wrapper{
 display:none;
}
#comment-menu2{
    display:none;
}
}
@media only screen and (min-width:1800px){
     /*Menu Messages*/
    #messages-menu{
        max-width: 30%;
    }

     /*Report Menu*/
  #reportMenu{
    width: 30%;
}

        /*Scroll*/
#story-container{
    margin-top: 5%;
}
}